{% extends 'Hari.Contact:Contact:contact.html' %}
{% block content %}
<div class="row-fluid">
  <div class="span12">Contact Us</div>  
</div>
<div class="row-fluid">
  <div class="span12">
    {{ form | raw }}
  </div><!--/span-->
</div><!--/row-->
{% endblock %}